<ul style="margin-right: auto; font-size: 0.85em;" class="nav nav-tabs">
	<li style="width: 60px;" class="active"><%= link_to "Busca", good_path(@good, :anchor => 'Busca'), data: { toggle: 'tab' } %></li>
	<li style="width: 60px;"><%= link_to "Vendas",  good_path(@good, :anchor => 'Vendas'), data: { toggle: 'tab' } %></li>
	<li style="width: 90px;"><%= link_to "Mercadorias",  good_path(@good, :anchor => 'Mercadorias'), data: { toggle: 'tab' } %></li>
	<li style="width: 80px;"><%= link_to "Despesas",  good_path(@good, :anchor => 'Despesas'), data: { toggle: 'tab' } %></li>

</ul>

<div class="tab-content">
	<div id="Busca" class="tab-pane fade in active">
	  <h3>Busca</h3>
	</div>
	<div id="Vendas" class="tab-pane fade">
    	<h3>Vendas </h3>
 	</div>
 	<div id="Mercadorias" class="tab-pane fade">
    	<h3>Entrada de Mercadorias </h3>
 	</div>
 	<div id="Despesas" class="tab-pane fade">
    	<h3>Despesas</h3>
 	</div>
</div>