@import "bootstrap-sprockets";
@import "bootstrap";

header {
  position: fixed;
  z-index: 10000000000;
  width: 100%;
  height: 50px; 
  background: #C0C0C0;
}

.footer {
  z-index: 10000000000;
  height: 80px;
  background: #C0C0C0;
}

.storageFooter {
  position: fixed;
  z-index: 10000000000;
  border-top: 2px solid black;
  width: 100%;
  height: 50px;
}

.main {
  background: white;
  height: 100%;
	padding-top: 55px;
}
.wrapper {
  height: 100%;
  display: block;
}
.flashDiv {
	height: 52px;
}

.simplemerch-icon {
	display: inline-block;
    width: 80px;
    height: 50px;
    margin-right: auto;
    margin-left: auto;
}

.header-menu {
  display: inline-block;
	margin-right: 15%;
}

.header-logout {
  display: inline-block;
	margin-left: 15%;
}

.inlineblockDiv{
  display: inline-block;
}

.nav-tabs{
  height: 40px;
}
  
.nav-tabs > li > a{
 
  color: black;

}
 
.nav-tabs > li > a:hover{
  background-color: #EEEEEE !important;
    
  color: black;
}
 
.nav-tabs > li.active > a,
 
.nav-tabs > li.active > a:focus,
 
.nav-tabs > li.active > a:hover{
  color: black;
  border: 0;
  border-bottom: 5px solid #C0C0C0;
}

ul {
    /* Use flex boxes to align li items */
    display: flex;
    justify-content: space-around;
    /* Remove default padding from major browsers */
    padding: 0;
    /* Hide the default decorations for li items */
    list-style: none;
}
ul > li {
    /* Display the elements in one line */
    display: inline-block;
    
}