@import "bootstrap-sprockets";
@import "bootstrap";

header {
  position: fixed;
  z-index: 10000000000;
  width: 100%;
  height: 50px; 
  background: #C0C0C0;
}
.headerDiv {
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
}

.header-logo {
  display: inline-block;
  font-size: 1.6em;
  color: white;
  position: absolute;
  margin-top: 8px;
}

.header-hamburger {
  display: inline-block;
  margin: 10px;
}

.header-menu {
  display: inline-block;
  margin: 10px;
  float: right;
}

.footer {
  z-index: 10000000000;
  height: 80px;
  background: #C0C0C0;
}

.storageFooter {
  position: fixed;
  z-index: 10000000000;
  border-top: 2px solid black;
  width: 100%;
  height: 50px;
}

.main {
  background: white;
  height: 100%;
	padding-top: 55px;
  display: block;

}
.flashDiv {
	height: 52px;
}

.inlineblockDiv{
  display: inline-block;
}

/* Menu principal*/

.menuDiv {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -122px;
  margin-top: -160px;
}

.menuButton{
  display: inline-block;
  background: #C0C0C0;
  border-radius: 20px;
  width: 110px;
  height: 110px;
  margin: 5px;
}

/* Bootstrap Tabs */

.nav-tabs{
  height: 40px;
  margin-top: -5px;
  position: fixed;
  background: white;
  max-width: 500px;
  width: 100%;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  z-index: 10000000000;
}
  
.nav-tabs > li > a{
  padding: 10px 10px;
  color: black;
}
 
.nav-tabs > li > a:hover{
  background-color: #EEEEEE !important;
  color: black;
}
 
.nav-tabs > li.active > a,
 
.nav-tabs > li.active > a:focus,
 
.nav-tabs > li.active > a:hover{
  color: black;
  border: 0;
  border-bottom: 5px solid #C0C0C0;
}

ul {
    /* Use flex boxes to align li items */
    display: flex;
    justify-content: space-around;
    /* Remove default padding from major browsers */
    padding: 0;
    /* Hide the default decorations for li items */
    list-style: none;

    max-width: 500px;
    left: 50%;
}
ul > li {
    /* Display the elements in one line */
    display: inline-block;
}

.formDiv{
  margin-right: 10px;
  margin-left: 10px; 
  max-width: 325px;
}