<header>
	<div class="headerDiv">
	<% if logged_in? %>
		<div class="header-hamburger">
			<%= image_tag "hamburger.png" %>
		</div>
		<div class="header-logo">
			<b>Simple Merch</b>
		</div>	
		<%= link_to current_user do %>
			<div class="header-menu">
				<%= image_tag "menu-icon.png" %>
			</div>
		<% end %>
	<% else %>
		<div align="center" style="margin-top: 10px; font-size: 1.6em; color: white;">
			<b>Simple Merch</b>
		</div>		
	<% end %>
</header>

