<header >
    <section class="header col-xs-12">
		<% if logged_in? %>
			<article style="float: left; margin-top: 14px">
				<%= link_to "Menu", current_user %>
			</article>
			<article style="float: right; margin-top: 9px">
				<%= button_to "Sair", logout_path, method: :delete, class: "btn btn-sm btn-hover btn-default col-xs" %>	
			</article>
		<% end %>
	</section>
</header>